body {
    color: #000;
    font-family: Inter;
}

nav {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: black;
    text-decoration: none;
    padding: 8px 12px;
    margin: 0 10px;
}


h1 {
    font-size: 60px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 20px;
}

p {
    font-size: 14px;
}

li {
    list-style-type: disc;
}
  
a {
    text-decoration: none;
}

strong {
    color: #00247D;
}

img {
    width: 300px;
    height: 300px;
}

.katherine-nav {
    margin: 5px;
    padding: 5px;
    width: 100px;
    display: inline-block;
}

.my-major {
    font-size: 20px;
    text-align: center;
    border:#000;
}

/* .image-left {
    float: left;
    margin-right: 20px;
} */

.indent-list {
    margin-left: 20px;
}

.text-container {
    padding: 2em;
}

.title {
    text-align: center;
}

.project-container {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
}

/* Style for each box */
.box {
    width: 500px;
    height: 200px;
    border: solid;
    border-color: navy;
    margin: 10px; /* Add spacing between boxes */
    text-align: center;
    line-height: 100px; /* Center content vertically */
}

#katherine {
    text-align: center;
}
