body {
    color: #000;
    font-family: Inter;
}

.katherine-nav {
    float: left;
    border: 1px solid red;
    margin: 5px;
    padding: 5px;
    width: 100px;
    display: inline-block;
}

.top-nav {
    float: right;
    border: 1px solid red;
    margin: 5px;
    padding: 5px;
    width: 100px;
    display: inline-block;
}

.navbar {
    text-align: center;
    /* display: inline-block; */
    padding: 10px;
    display: flex;
}

#katherine {
    text-align: center;
}

.my-major {
    font-size: 20px;
    text-align: center;
    border:#000;
}

/* .image-left {
    float: left;
    margin-right: 20px;
} */

.indent-list {
    margin-left: 20px;
}

.text {
    padding: 2em;
}


h1 {
    font-size: 60px;
}

/* section {
    font-size: 14px;
} */

li {
    list-style-type: disc;
  }
  
li li {
    list-style-type: circle;
}

a {
    text-decoration: none;
}

strong {
    color: #00247D;
}

img {
    width: 300px;
    height: 300px;
}

