body {
    color: #000;
    font-family: Inter;
}

nav {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: black;
    text-decoration: none;
    padding: 8px 12px;
    margin: 0 10px;
}


h1 {
    font-size: 60px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 20px;
}

p {
    font-size: 14px;
}

li {
    list-style-type: disc;
}
  
a {
    text-decoration: none;
}

strong {
    color: #00247D;
}

.container {
    width: 100%;
    height: 85vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.katherine-nav {
    margin: 5px;
    padding: 5px;
    width: 100px;
    display: inline-block;
}

.my-major {
    font-size: 20px;
    text-align: center;
    border:#000;
}

/* .image-left {
    float: left;
    margin-right: 20px;
} */

.indent-list {
    margin-left: 20px;
}

.text-container {
    padding: 2em;
}

.title {
    text-align: center;
}

.project-container {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
}

/* Style for each box */
.box {
    width: 500px;
    height: 200px;
    border: solid;
    border-color: navy;
    margin: 10px; /* Add spacing between boxes */
    text-align: center;
    line-height: 100px; /* Center content vertically */
}

.logos {
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    justify-content: center;

}

.logos img {
    width: 30px;
    height: auto;
    margin: 5px;

}

#katherine {
    text-align: center;

}

#kathy-img {
    width: 300px;
    height: 300px;
}


/* The Modal (background) */
#email {
    margin: 0;
    padding: 0;
    background: none;
    cursor: pointer;
    box-shadow: none;
    border: none;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }


/* Footer */
.footer { 
    display: flex;
    position: absolute; 
    bottom: 0; 
    left: 0; 
    /* z-index: 10; */
}